<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Registration</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            First Name
            <input [ngClass]="{'is-invalid':submitted && f.FirstName.errors}" type="text" class="form-control"
              id="txtFirstName" name="FirstName" formControlName="FirstName">
            <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
              <div *ngIf="f.FirstName.errors.required">First Name is required</div>
              <div *ngIf="f.FirstName.errors.pattern">First Name can have only alphabets</div>
              <div *ngIf="f.FirstName.errors.minlength">First name cannot be less than 3 characters</div>
              <div *ngIf="f.FirstName.errors.maxlength">First name cannot be greatar than 30 characters</div>
            </div>
          </div>
          <div class="form-group">
            Last Name
            <input [ngClass]="{'is-invalid': submitted && f.LastName.errors}" type="text" class="form-control"
              id="txtLastName" formControlName="LastName" name="LastName">
            <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
              <div *ngIf="f.LastName.errors.required">Last Name is required</div>
              <div *ngIf="f.LastName.errors.pattern">Last Name can have only alphabets</div>
              <div *ngIf="f.LastName.errors.minlength">Last name cannot be less than 3 characters</div>
              <div *ngIf="f.LastName.errors.maxlength">Last name cannot be greatar than 30 characters</div>
            </div>
          </div>
          <div class="form-group">
            Gender
            <select [ngClass]="{'is-invalid': submitted && f.Gender.errors}" class="form-control" id="ddlGender"
              formControlName="Gender" name="Gender">
              <option value="">--Select--</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Transgender">Transgender</option>
            </select>
            <div *ngIf="submitted && f.Gender.errors" class="invalid-feedback">
              <div *ngIf="f.Gender.errors.required">Please select Gender</div>
            </div>
          </div>
          <div class="form-group">
            Mobile No
            <input [ngClass]="{'is-invalid': submitted && f.Mobile.errors}" type="text" class="form-control"
              id="txtMobile" formControlName="Mobile" name="Mobile" minlength="10" maxlength="10">
            <div *ngIf="submitted && f.Mobile.errors" class="invalid-feedback">
              <div *ngIf="f.Mobile.errors.required">Mobile no is required</div>
              <div *ngIf="f.Mobile.errors.pattern">
                Please insert a valid mobile number.
              </div>
              <div *ngIf="f.Mobile.errors.minlength || f.Mobile.errors.maxlength">
                Please enter 10 digit mobile number.
              </div>
            </div>
          </div>
          <div class="form-group">
            Email
            <input [ngClass]="{'is-invalid': submitted && f.Email.errors}" type="text" class="form-control"
              id="txtEmail" formControlName="Email" name="Email">
            <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
              <div *ngIf="f.Email.errors.required">Email is required</div>
              <div *ngIf="f.Email.errors.pattern">Please enter valid email address</div>
              <div *ngIf="f.Email.errors.minlength">Email cannot be less than 10 characters</div>
              <div *ngIf="f.Email.errors.maxlength">Email cannot be greatar than 50 characters</div>
            </div>
          </div>
          <div class="form-group">
            Password
            <input type="password" [ngClass]="{'is-invalid': submitted && f.Password.errors}" class="form-control"
              id="txtPassword" formControlName="Password" name="Password" (blur)="onBlur()">
            <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
              <div *ngIf="f.Password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
           Confirm Password
            <input type="password" [ngClass]="{'is-invalid': submitted && f.ConfirmPassword.errors}" class="form-control"
              id="txtCPassword" formControlName="ConfirmPassword" name="ConfirmPassword" (blur)="onBlur()">
            <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.ConfirmPassword.errors.required">Confirm Password is required</div>
            </div>
            {{passworddoesnotmatch}}
          </div>
          <div class="form-group">
            <button value="Submit" id="btnSubmit" Text="Submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>